@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");

/*******************************************Basic Styling********************************************/
:root {
  --primary: #000000;
  --secondary: #401b1b;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: var(--secondary);
}

/*******************************************Typography********************************************/
h2,
h3,
h4,
h5 {
  color: var(--primary);
  font-weight: 700;
}

p {
  line-height: 30px;
  text-align: center;
  color: var(--secondary);
}

/*******************************************Common Classes********************************************/
.custom-paragraph {
  color: #ffff !important;
}
.custom-links {
  text-decoration: none;
  color: var(--secondary);
}

.custom-links:hover {
  color: var(--primary);
}

.section-header {
  font-weight: bold;
  font-size: 52px;
  line-height: 66px;
  color: var(--primary);
  text-align: center;
  padding-bottom: 20px;
}
section.outer-section {
  padding-bottom: 175px;
  text-align: center;
}

section.footer-section {
  padding-bottom: 0px !important;
  text-align: center;
  color: #ffff;
}

/*******************************************Buttons Stylings********************************************/
.btn-styling {
  background: var(--secondary);
  padding: 2%;
  color: rgb(227, 220, 207);
  display: inline;
}

.btn-styling:hover {
  background: #15be39;
  color: #000;
}

button.custom-style-btn {
  margin: 0 3%;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: var(--secondary);
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/*******************************************Navigation DropDown********************************************/

.nav-bar {
  position: absolute;
  width: 100%;
  z-index: 199;
}
ul#cart-form {
  position: absolute;
  z-index: 199;
  margin-left: -1%;
}
.show-dropdown {
  display: none;
}

.custom-color:hover + .show-dropdown {
  display: inline-block;
  position: fixed;
  z-index: 99;
  background-color: var(--secondary);
  color: #fff;
  list-style: none;
  padding: 2%;
  width: 25%;
}

.show-dropdown:hover {
  display: inline-block;
  position: fixed;
  z-index: 99;
  background-color: var(--secondary);
  color: #fff;
  list-style: none;
  padding: 2%;
  width: 25%;
}

.show-dropdown li {
  border-bottom: 1px solid;
}

/*******************************************Message Alerts********************************************/

.showSuccessMessage {
  display: block;
}

.hideSuccessMessage {
  display: none;
}
.showErrorMessage {
  display: block;
}

.hideErrorMessage {
  display: none;
}
/*******************************************Pre-Loader********************************************/
#pre-loader {
  background: #000000 url("../img/pre-loader.gif") no-repeat center center;
  background-size: 15%;

  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/*******************************************Global Header Styling********************************************/
header {
  position: relative;
}
#bg-image {
  height: 750px;
  position: relative;
  top: 10px;
  background-color: #000000;
  background-image: linear-gradient(
      rgba(57, 28, 28, 0.47),
      rgba(27, 11, 11, 0.442)
    ),
    url("https://ik.imagekit.io/vi9aepz6c/Resturando/img/header-image-email.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
}

#bg-image-shop {
  height: 500px;
  position: relative;
  top: 10px;
  background-color: #000000;
  background-image: url("https://ik.imagekit.io/vi9aepz6c/Resturando/img/vegetables-ge8fccf0e8_1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
}

.custom-background {
  background: linear-gradient(rgb(255 203 72), #000000);
  border-radius: 40px;
}

.custom-color {
  color: #ffff;
}

.custom-navbar {
  display: flex;

  justify-content: center;
}

.custom-hero-text {
  position: absolute;
  left: 70px;
  top: 400px;
  color: #ffff;
  text-align: center;
  vertical-align: middle;
}

.custom-blog-hero-text {
  position: absolute;
  top: 400px;
  color: #ffff;
  text-align: center;
  vertical-align: middle;
}

.custom-blog-hero-text h1 {
  font-size: 90px;
}

.custom-blog-hero-text p {
  font-size: 30px;
  text-align: center;
}

.custom-hero-text h1 {
  font-size: 90px;
}

.custom-hero-text p {
  font-size: 30px;
  text-align: center;
}

.hiddenStyle {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.cart-form {
  color: #ffff;
}

.header-cart h4 {
  color: #ffff;
  text-align: center;
  margin-bottom: 3%;
}

.cart-img {
  width: 70px;
}

table.table-cart {
  margin: 0 auto;
}

.custom-cart-row {
  display: flex;
  margin-bottom: 3%;
  justify-content: space-between;
}

.custom-cart-col {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

span#cart-num {
  background: rgb(219, 219, 135);
  padding: 2%;
  height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  color: #000;
  top: -10px;
  display: inline-block;
}

/*******************************************Home Page-Explore Section Styling********************************************/

.content {
  text-align: left;
}

/*******************************************Home Page-Feature Section Styling********************************************/
#bg-image-2 {
  height: 750px;
  position: relative;
  top: 10px;
  color: white;
  overflow: hidden;
  background: var(--secondary);
  background-image: linear-gradient(rgba(0, 0, 0, 0.886), rgba(0, 0, 0, 0.791)),
    url("https://ik.imagekit.io/vi9aepz6c/Resturando/img/feature-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -999999;
}

#bg-image-2 h1 {
  color: white;
  text-align: center;
  filter: drop-shadow(0.05em 0.05em rgb(234, 230, 222));
  mix-blend-mode: difference;
}

.section-header.header-light {
  color: #ffff;
}

.content-featured {
  color: #ffff;
  text-align: center;
}

#bg-image-3 {
  position: relative;
  top: -190px;
  margin-top: 200px;
  height: 250px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.218)),
    url("https://ik.imagekit.io/vi9aepz6c/Resturando/img/pancakes-g7bc86f486_1280.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

#bg-image-4 {
  position: relative;
  top: -190px;
  height: 250px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.218)),
    url("https://ik.imagekit.io/vi9aepz6c/Resturando/img/cookies-gf43494f23_1280.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -150px;
  width: 50%;
}

#bg-image-5 {
  position: relative;
  top: -190px;
  height: 250px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.218)),
    url("https://ik.imagekit.io/vi9aepz6c/Resturando/img/breakfast-ga99def90b_1280.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -50px;
  width: 50%;
}

.featured-dish {
  font-size: 40px;
  position: relative;
  top: 60px;
  color: white;
  text-align: center;
  filter: drop-shadow(0.05em 0.05em rgb(234, 230, 222));
  mix-blend-mode: difference;
}

.custom-flex-containers {
  z-index: 1;
  position: relative;
}

/*******************************************Home Page-Menu Section Styling********************************************/
.outer-container-customizer {
  width: 60%;
  margin: auto;
}

.content-menu {
  text-align: left;
  font-weight: bold;
}

.content-menu-para {
  text-align: left;
}

.filter a {
  position: relative;
}

.filter a.active:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 0;
  border-color: #1a0404 transparent transparent transparent;
}

.custom-animation {
  position: relative;
}

.no-records {
  position: absolute;
  left: 30%;
  top: 4px;
}

.boxes {
  color: var(--secondary);
}

@keyframes rotate-right {
  0% {
    transform: translate(-100%) rotate(-100deg);
  }

  100% {
    transform: none;
  }
}

.is-animated {
  animation: 0.6s rotate-right;
}

.glow-on-hover {
  margin-top: 3%;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: linear-gradient(#000, #ffff);
  background: linear-gradient(#ffcb48, #000);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  background: var(--secondary);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/*******************************************Home Page-Testimonial Section Styling********************************************/
#parallax {
  background-image: linear-gradient(rgba(0, 0, 0, 0.886), rgba(0, 0, 0, 0.791)),
    url("https://ik.imagekit.io/vi9aepz6c/Resturando/img/raspberries-g1c95018cf_1280.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.slider-container {
  border-radius: 5px;
  margin: 2rem auto 0;
  overflow: hidden;
  padding: 2rem 3rem;
  position: relative;
  top: 100px;
  z-index: 99;
}

.slider-container:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.my-slider {
  display: flex;
  position: relative;
}

.controls {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  color: #ffff;
  width: 100%;
  top: 50%;
  transform: translatey(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls:focus {
  outline: none;
}

.controls li:hover {
  cursor: pointer;
}

.card-container {
  border-radius: 5px;
  color: #333;
  font-family: sans-serif;
  margin: 0 auto;
  width: 30%;
  overflow: hidden;
  padding-bottom: 0.75rem;
  position: relative;
  text-align: center;
  color: #fff;
}

.card-container:before {
  content: "";
  position: absolute;
  bottom: 0;
  color: #fff;
}

.card-container h2 {
  color: #fff;
  margin: 0 0 0.25rem;
}

.card-container p {
  margin: 0;
  color: #fff;
  padding: 0 0.5rem;
}

/*******************************************Home Page-Reservation Section Styling********************************************/
#my-form {
  color: var(--secondary);
}

.form-group {
  display: flex;
  align-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
  position: relative;
}

.form-text {
  color: var(--primary) !important;
}

.custom-font {
  position: relative;
  left: -30px;
}

td.today.active.day {
  background: var(--secondary) !important;
}

.datepicker table {
  width: 398px !important;
  z-index: 99 !important;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
  background: var(--secondary) !important;
  color: #ffff !important;
}

.ui-timepicker-list li {
  color: #212529 !important;
}

.ui-timepicker-wrapper {
  width: 397px !important;
}

/********************************************************* Footer Area Styling *********************************************/
.footer-area {
  background-image: linear-gradient(rgba(0, 0, 0, 0.886), rgba(0, 0, 0, 0.791)),
    url("https://ik.imagekit.io/vi9aepz6c/Resturando/img/raspberries-g1c95018cf_1280.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.row.footer-customizer {
  position: relative;
  top: 100px;
}

.footer-title {
  color: #ffff !important;
  font-size: 20px !important;
}

.card-text {
  text-align: left;
  line-height: normal;
  font-weight: 100;
}

.footer-image {
  width: 100px;
}

.footer-text {
  text-align: left;
  line-height: normal;
  font-weight: 100;
}

/* **************************************************Product Page Styling******************************************************** */

/* **************************************************Basic styling******************************************************** */
.product-basic-styling {
  font-size: 16px;
  color: var(--secondary);
}

/* **************************************************Product Section Styling************************************************/
div#food-card {
  cursor: pointer;
}

.add-list {
  color: var(--secondary);
  cursor: pointer;
}

.custom-image-style {
  height: 190px;
}

.custom-gap {
  margin-bottom: 30px;
  color: var(--secondary);
}

.list-group {
  --bs-list-group-color: var(--secondary) !important;
}

.table {
  --bs-table-color: var(--secondary) !important;
}

/* **************************************************Single Product Page Styling**************************************************/
div#display-products {
  color: var(--secondary);
}

.product-image {
  width: 400px;
  height: 100%;
}

.icons-text {
  background: var(--secondary);
  color: #fff;
  border-radius: 50%;
  padding: 9%;
}

/* **************************************************Cart Section**************************************************/
#add-cart {
  position: fixed;
  display: none;
}

input#add-value {
  width: 20px;
  margin-right: 10px;
}

i#add-quantity {
  font-size: 14px;
}
i#remove-quantity {
  font-size: 14px;
}

#table {
  background: linear-gradient(rgb(255 203 72), #000000);
  color: #ffff;
  font-size: 14px;
}

tbody#add {
  color: #fff;
}

.slider-class {
  animation: 0.5s slide-right;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

.slider-remove {
  animation: 0.5s slide-left;
}

@keyframes slide-left {
  from {
    margin-right: 0%;
  }

  to {
    margin-right: -100%;
  }
}

.custom-index {
  position: fixed;
  z-index: 100;
  background: linear-gradient(rgb(255 203 72), #000000);
  color: #ffff;
  height: 99.9vh;
  width: 525px;
}

.add-list a {
  font-size: 27px;
}

.active a {
  color: var(--secondary);
}

.active {
  color: #15be39;
}

/* **************************************************Blog Page Styling******************************************************** */
.blog-container {
  border-radius: 5px;
  color: var(--primary);
  font-family: sans-serif;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 0.75rem;
  position: relative;
  text-align: center;
}

img#imgId {
  width: 800px;
  height: 500px;
}

div.bg-images-blog {
  margin: auto;
  display: block;
  width: 100%;
  height: 420px;
}

.sidebar-image {
  width: 100%;
}

.custom-title {
  font-weight: 700;
}

.custom-dates {
  font-size: 16px;
}

.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
  list-style: none;
}

div#categories-container {
  color: var(--secondary);
}

/* **************************************************Gallery Page Styling******************************************************** */

.gallery {
  display: flex;
  padding: 2px;
  transition: 0.3s;
}

.gallery:hover .gallery__image {
  filter: grayscale(1);
}

.gallery__column {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.gallery__link {
  margin: 2px;
  overflow: hidden;
}

.gallery__link:hover .gallery__image {
  filter: grayscale(0);
}

.gallery__link:hover .gallery__caption {
  opacity: 1;
}

.gallery__thumb {
  position: relative;
}

.gallery__image {
  display: block;
  width: 100%;
  transition: 0.3s;
}

.gallery__image:hover {
  transform: scale(1.1);
}

.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}

/* **************************************************About us Page Styling******************************************************** */
img.about-us {
  width: 90%;
  position: relative;
  top: -90px;
}

.clip-animation {
  animation: clip 1s infinite;
}

@keyframes clip {
  0% {
    clip-path: polygon(
      100% 50%,
      84.70057014808336% 54.5684167277018%,
      91.0518476172854% 60.99980941685713%,
      82.33578363789503% 63.39392013277814%,
      93.30127018922194% 75%,
      77.76736691019323% 71.30665001530522%,
      80.05203820042827% 80.05203820042827%,
      71.30665001530522% 77.76736691019323%,
      75% 93.30127018922192%,
      63.39392013277814% 82.33578363789503%,
      60.99980941685714% 91.0518476172854%,
      54.56841672770181% 84.70057014808336%,
      50% 100%,
      45.4315832722982% 84.70057014808336%,
      39.000190583142874% 91.0518476172854%,
      36.606079867221865% 82.33578363789505%,
      25.00000000000001% 93.30127018922194%,
      28.693349984694787% 77.76736691019323%,
      19.947961799571733% 80.05203820042827%,
      22.23263308980677% 71.30665001530522%,
      6.698729810778076% 75.00000000000001%,
      17.664216362104966% 63.39392013277815%,
      8.948152382714603% 60.99980941685715%,
      15.299429851916635% 54.568416727701816%,
      0% 50.00000000000001%,
      15.299429851916635% 45.431583272298205%,
      8.94815238271459% 39.00019058314288%,
      17.66421636210496% 36.60607986722188%,
      6.698729810778062% 25.000000000000014%,
      22.23263308980676% 28.693349984694787%,
      19.947961799571715% 19.947961799571747%,
      28.69334998469477% 22.232633089806775%,
      24.99999999999998% 6.698729810778083%,
      36.60607986722184% 17.664216362104973%,
      39.00019058314284% 8.948152382714603%,
      45.43158327229816% 15.299429851916642%,
      49.99999999999999% 0%,
      54.568416727701795% 15.299429851916635%,
      60.99980941685711% 8.94815238271459%,
      63.39392013277812% 17.66421636210496%,
      74.99999999999997% 6.6987298107780475%,
      71.3066500153052% 22.23263308980675%,
      80.05203820042826% 19.947961799571722%,
      77.76736691019323% 28.69334998469477%,
      93.30127018922192% 24.99999999999998%,
      82.33578363789502% 36.60607986722184%,
      91.0518476172854% 39.00019058314283%,
      84.70057014808336% 45.43158327229816%
    );
  }

  50% {
    clip-path: polygon(
      84.70057014808336% 54.5684167277018%,
      91.0518476172854% 60.99980941685713%,
      82.33578363789503% 63.39392013277814%,
      93.30127018922194% 75%,
      77.76736691019323% 71.30665001530522%,
      80.05203820042827% 80.05203820042827%,
      71.30665001530522% 77.76736691019323%,
      75% 93.30127018922192%,
      63.39392013277814% 82.33578363789503%,
      60.99980941685714% 91.0518476172854%,
      54.56841672770181% 84.70057014808336%,
      50% 100%,
      45.4315832722982% 84.70057014808336%,
      39.000190583142874% 91.0518476172854%,
      36.606079867221865% 82.33578363789505%,
      25.00000000000001% 93.30127018922194%,
      28.693349984694787% 77.76736691019323%,
      19.947961799571733% 80.05203820042827%,
      22.23263308980677% 71.30665001530522%,
      6.698729810778076% 75.00000000000001%,
      17.664216362104966% 63.39392013277815%,
      8.948152382714603% 60.99980941685715%,
      15.299429851916635% 54.568416727701816%,
      0% 50.00000000000001%,
      15.299429851916635% 45.431583272298205%,
      8.94815238271459% 39.00019058314288%,
      17.66421636210496% 36.60607986722188%,
      6.698729810778062% 25.000000000000014%,
      22.23263308980676% 28.693349984694787%,
      19.947961799571715% 19.947961799571747%,
      28.69334998469477% 22.232633089806775%,
      24.99999999999998% 6.698729810778083%,
      36.60607986722184% 17.664216362104973%,
      39.00019058314284% 8.948152382714603%,
      45.43158327229816% 15.299429851916642%,
      49.99999999999999% 0%,
      54.568416727701795% 15.299429851916635%,
      60.99980941685711% 8.94815238271459%,
      63.39392013277812% 17.66421636210496%,
      74.99999999999997% 6.6987298107780475%,
      71.3066500153052% 22.23263308980675%,
      80.05203820042826% 19.947961799571722%,
      77.76736691019323% 28.69334998469477%,
      93.30127018922192% 24.99999999999998%,
      82.33578363789502% 36.60607986722184%,
      91.0518476172854% 39.00019058314283%,
      84.70057014808336% 45.43158327229816%,
      100% 50%
    );
  }

  100% {
    clip-path: polygon(
      91.0518476172854% 60.99980941685713%,
      82.33578363789503% 63.39392013277814%,
      93.30127018922194% 75%,
      77.76736691019323% 71.30665001530522%,
      80.05203820042827% 80.05203820042827%,
      71.30665001530522% 77.76736691019323%,
      75% 93.30127018922192%,
      63.39392013277814% 82.33578363789503%,
      60.99980941685714% 91.0518476172854%,
      54.56841672770181% 84.70057014808336%,
      50% 100%,
      45.4315832722982% 84.70057014808336%,
      39.000190583142874% 91.0518476172854%,
      36.606079867221865% 82.33578363789505%,
      25.00000000000001% 93.30127018922194%,
      28.693349984694787% 77.76736691019323%,
      19.947961799571733% 80.05203820042827%,
      22.23263308980677% 71.30665001530522%,
      6.698729810778076% 75.00000000000001%,
      17.664216362104966% 63.39392013277815%,
      8.948152382714603% 60.99980941685715%,
      15.299429851916635% 54.568416727701816%,
      0% 50.00000000000001%,
      15.299429851916635% 45.431583272298205%,
      8.94815238271459% 39.00019058314288%,
      17.66421636210496% 36.60607986722188%,
      6.698729810778062% 25.000000000000014%,
      22.23263308980676% 28.693349984694787%,
      19.947961799571715% 19.947961799571747%,
      28.69334998469477% 22.232633089806775%,
      24.99999999999998% 6.698729810778083%,
      36.60607986722184% 17.664216362104973%,
      39.00019058314284% 8.948152382714603%,
      45.43158327229816% 15.299429851916642%,
      49.99999999999999% 0%,
      54.568416727701795% 15.299429851916635%,
      60.99980941685711% 8.94815238271459%,
      63.39392013277812% 17.66421636210496%,
      74.99999999999997% 6.6987298107780475%,
      71.3066500153052% 22.23263308980675%,
      80.05203820042826% 19.947961799571722%,
      77.76736691019323% 28.69334998469477%,
      93.30127018922192% 24.99999999999998%,
      82.33578363789502% 36.60607986722184%,
      91.0518476172854% 39.00019058314283%,
      84.70057014808336% 45.43158327229816%,
      100% 50%,
      84.70057014808336% 54.5684167277018%
    );
  }
}

.custom-social {
  color: var(--secondary);
}

/* **************************************************Menu Views Page Styling******************************************************** */
img.menu-view {
  width: 90%;
}

.menu-container .menu-card {
  position: relative;
  width: 320px;
  height: 450px;
  background: var(--secondary);
  border-radius: 20px;
  overflow: hidden;
}

.menu-container .menu-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(255 203 72), #000000);
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.menu-container .menu-card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.menu-container .menu-card:after {
  content: "";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: #ffff;
}

.menu-container .menu-card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

img.menu-view {
  width: 100%;
  height: 200px;
}

.menu-container .menu-card:hover .imgBx {
  top: 0%;
  transform: translateY(-25%);
}

.menu-container .menu-card .imgBx img {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  width: 270px;
}

.menu-container .menu-card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 90;
}

.menu-container .menu-card:hover .contentBx {
  height: 210px;
}

.menu-container .menu-card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.menu-container .menu-card .contentBx .size,
.menu-container .menu-card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.menu-container .menu-card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.menu-container .menu-card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.menu-container .menu-card .contentBx .size h3,
.menu-container .menu-card .contentBx .color h3 {
  color: white;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.menu-container .menu-card .contentBx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.menu-container .menu-card .contentBx .size span:hover {
  background: #b90000;
}

.menu-container .menu-card .contentBx .color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.menu-container .menu-card .contentBx .color span:nth-child(2) {
  background: #1bbfe9;
}

.menu-container .menu-card .contentBx .color span:nth-child(3) {
  background: #1b2fe9;
}

.menu-container .menu-card .contentBx .color span:nth-child(4) {
  background: #080481;
}

.menu-container .menu-card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.menu-container .menu-card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.7s;
}

.custom-flex {
  display: flex;
  width: 80%;
  position: relative;
  left: 2%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-container {
  margin: 2% 2%;
}

/* **************************************************404 Page Styling******************************************************** */

.fourzerofourerror {
  box-sizing: 0;
  margin: 0;
  padding: 0;
  cursor: url("https://ik.imagekit.io/vi9aepz6c/Resturando/img/breakfast-ga99def90b_1280.jpg"),
    auto;
}

.fourzerofourerror {
  display: flex;
  align-items: center;
  width: calc(100% - 4rem);
  margin: 0 auto;
}

.fourzerofourerror aside {
  background-image: url("https://ik.imagekit.io/vi9aepz6c/Resturando/img/breakfast-ga99def90b_1280.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 25px 100%;
  width: 50%;
}

.fourzerofourerror aside img {
  display: block;
  height: auto;
  width: 100%;
}

.fourzerofourerror main {
  text-align: center;
  color: var(--primary);
  margin-left: 4%;
}

main h1 {
  font-family: "Fontdiner Swanky", cursive;
  font-size: 4rem;
  color: var(--primary);
  margin-bottom: 1rem;
}

main p {
  margin-bottom: 2.5rem;
}

main p em {
  font-style: italic;
  color: var(--primary);
}

main button {
  font-family: "Fontdiner Swanky", cursive;
  font-size: 20px;
  color: #ffff;
  border: none;
  background-color: var(--primary);
  padding: 1rem 2.5rem;
  transform: skew(-5deg);
  transition: all 0.1s ease;
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/cursors-eye.png"),
    auto;
}

main button:hover {
  background-color: var(--secondary);
  color: #ffff;
  transform: scale(1);
}

/* ***************************************************Tables  Reservation ****************************************************** */
.ot-powered-by {
  display: none;
}

/* **************************************************ShortCode Page Styling******************************************************** */

.custom-margin {
  margin-top: 4%;
}

.inner-container-demo {
  display: flex;
}

.glow-on-hoverv2 {
  border: none;
  outline: none;
  color: #ffff;
  background: linear-gradient(#ffcb48, #000);
  cursor: pointer;
  position: relative;
  width: 80%;
  margin: 0 1%;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hoverv2:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hoverv2:active {
  background: var(--secondary);
}

.glow-on-hoverv2:active:after {
  background: transparent;
}

.glow-on-hoverv2:hover:before {
  opacity: 1;
}

.glow-on-hoverv2:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

button.glow-on-hoverv2 {
  margin: 0 3%;
}

p.style-custom {
  display: flex;
}

/* Table shortcode */

.table-demo,
.th,
.td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 80px;
  column-width: 300px;
  margin-bottom: 10%;
}

.thead {
  width: 100%;
  background: black;
  color: #ffff;
  width: 1000px;
}

.tbody {
  width: 100%;
  color: var(--secondary);
}

.header {
  background-color: #fddf95;
}

.form {
  width: 60%;
  padding: 5%;
  margin: 0 auto;
  color: var(--secondary);
  background: #dfd5d5;
}

.form-group-v {
  margin-top: 3%;
  text-align: left;
}

.form-group-v label {
  font-size: 24px;
  font-weight: 700;
}

input#exampleInputPassword1 {
  background: silver;
}

input#exampleInputEmail1 {
  background: silver;
}

.checkbox {
  font-size: 18px;
  text-align: left;
}

p.help-block {
  text-align: left;
  font-size: 18px;
}

div#file-input {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

[data-tab-info] {
  display: none;
}

.active[data-tab-info] {
  display: block;
}

.tab-content {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(82, 75, 75);
}

.tabs {
  width: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  margin: 0;
}

.tabs span {
  width: 50%;
  background: rgb(28, 145, 38);
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
}

.tabs span:hover {
  background: rgb(29, 185, 112);
  cursor: pointer;
  color: black;
}

button.accordion {
  width: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.accordion:after {
  font-family: FontAwesome;
  content: "\f150";
  font-family: "fontawesome";
  font-size: 18px;
  float: right;
}

button.accordion.is-open:after {
  content: "\f151";
}

button.accordion:hover,
button.accordion.is-open {
  background-color: #ddd;
}

.accordion-content {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.search-function {
  display: flex;
  flex-direction: column;
}

.search-content {
  display: flex;
  flex-direction: row;
  color: var(--secondary);
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  border: solid 1px;
  border-radius: 30px;
  margin: 0 auto;
}

i.fas.fa-search {
  color: #ffff;
}

.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color: var(--secondary);
}

.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.form-v3 {
  display: block;
  text-align: justify;
}

.form-v3 input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-v3 label {
  position: relative;
  cursor: pointer;
}

.form-v3 label:before {
  content: "";
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-v3 input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #e71010;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

section {
  color: #7a90ff;
  padding: 2em 0;
  min-height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  z-index: 10;
}

.pricing {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.pricing-item {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  -webkit-flex: 0 1 330px;
  flex: 0 1 330px;
}

.pricing-action {
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

.pricing-action:focus {
  outline: none;
}

.pricing-feature-list {
  text-align: left;
}

.pricing-palden .pricing-item {
  font-family: "Open Sans", sans-serif;
  cursor: default;
  color: #84697c;
  background: #fff;
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
  border-radius: 20px 20px 10px 10px;
  margin: 1em;
}

.pricing-palden .pricing-deco {
  border-radius: 10px 10px 0 0;
  background: linear-gradient(135deg, #4097f9, #0af0c7);
  padding: 4em 0 9em;
  position: relative;
}

.pricing-palden .pricing-deco-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
}

.pricing-palden .pricing-title {
  font-size: 0.75em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
}

.pricing-palden .deco-layer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.pricing-palden .pricing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}

.pricing-palden .pricing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}

.pricing-palden .icon {
  font-size: 2.5em;
}

.pricing-palden .pricing-price {
  font-size: 5em;
  font-weight: bold;
  padding: 0;
  color: #fff;
  margin: 0 0 0.25em 0;
  line-height: 0.75;
}

.pricing-palden .pricing-currency {
  font-size: 0.15em;
  vertical-align: top;
}

.pricing-palden .pricing-period {
  font-size: 0.15em;
  padding: 0 0 0 0.5em;
  font-style: italic;
}

.pricing-palden .pricing__sentence {
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em;
}

.pricing-palden .pricing-feature-list {
  margin: 0;
  padding: 0.25em 0 2.5em;
  list-style: none;
  text-align: center;
}

.pricing-palden .pricing-feature {
  padding: 1em 0;
}

.pricing-palden .pricing-action {
  font-weight: bold;
  margin: auto 3em 2em 3em;
  padding: 1em 2em;
  color: #fff;
  border-radius: 30px;
  background: linear-gradient(135deg, #a93bfe, #584efd);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.pricing-palden .pricing-action:hover,
.pricing-palden .pricing-action:focus {
  background: linear-gradient(135deg, #fd7d57, #f55d59);
}

.pricing-palden .pricing-item--featured .pricing-deco {
  padding: 5em 0 8.885em 0;
}

.headers {
  position: relative;
  text-align: center;
  position: relative;
  margin: 0 auto;
  background-image: radial-gradient(
      circle at 39% 47%,
      rgba(107, 107, 107, 0.08) 0%,
      rgba(107, 107, 107, 0.08) 33.333%,
      rgba(72, 72, 72, 0.08) 33.333%,
      rgba(72, 72, 72, 0.08) 66.666%,
      rgba(36, 36, 36, 0.08) 66.666%,
      rgba(36, 36, 36, 0.08) 99.999%
    ),
    radial-gradient(
      circle at 53% 74%,
      rgba(182, 182, 182, 0.08) 0%,
      rgba(182, 182, 182, 0.08) 33.333%,
      rgba(202, 202, 202, 0.08) 33.333%,
      rgba(202, 202, 202, 0.08) 66.666%,
      rgba(221, 221, 221, 0.08) 66.666%,
      rgba(221, 221, 221, 0.08) 99.999%
    ),
    radial-gradient(
      circle at 14% 98%,
      rgba(184, 184, 184, 0.08) 0%,
      rgba(184, 184, 184, 0.08) 33.333%,
      rgba(96, 96, 96, 0.08) 33.333%,
      rgba(96, 96, 96, 0.08) 66.666%,
      rgba(7, 7, 7, 0.08) 66.666%,
      rgba(7, 7, 7, 0.08) 99.999%
    ),
    linear-gradient(45deg, rgb(97, 14, 117), rgb(20, 32, 127));
  color: white;
}

.inner-header {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 150vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 250px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.wrapper {
  background-color: #fff;
  width: 500px;
  padding: 25px;
  margin: 25px auto 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.wrapper h2 {
  background-color: #fcfcfc;
  color: #7ed321;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px dotted #333;
}

.input-box h4 {
  padding-bottom: 5px;
  color: #7ed321;
}

.input-group {
  margin-bottom: 8px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.input-box {
  width: 100%;
  margin-right: 12px;
  position: relative;
}

.input-box:last-child {
  margin-right: 0;
}

.name {
  padding: 14px 10px 14px 50px;
  width: 100%;
  background-color: #fcfcfc;
  border: 1px solid #00000033;
  outline: none;
  letter-spacing: 1px;
  transition: 0.3s;
  border-radius: 3px;
  color: #333;
}

.name:focus,
.dob:focus {
  -webkit-box-shadow: 0 0 2px 1px #7ed32180;
  -moz-box-shadow: 0 0 2px 1px #7ed32180;
  box-shadow: 0 0 2px 1px #7ed32180;
  border: 1px solid #7ed321;
}

.input-box .icon {
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  color: #333;
  background-color: #f1f1f1;
  border-radius: 2px 0 0 2px;
  transition: 0.3s;
  font-size: 20px;
  pointer-events: none;
  border: 1px solid #00000033;
  border-right: none;
}

.name:focus + .icon {
  background-color: #7ed321;
  color: #fff;
  border-right: 1px solid #7ed321;
  border: none;
  transition: 1s;
}

.dob {
  width: 30%;
  padding: 14px;
  text-align: center;
  background-color: #fcfcfc;
  transition: 0.3s;
  outline: none;
  border: 1px solid #c0bfbf;
  border-radius: 3px;
}

.radio {
  display: none;
}

.input-box label {
  width: 50%;
  padding: 13px;
  background-color: #fcfcfc;
  display: inline-block;
  float: left;
  text-align: center;
  border: 1px solid #c0bfbf;
}

.input-box label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
}

.input-box label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.radio:checked + label {
  background-color: #7ed321;
  color: #fff;
  transition: 0.5s;
}

.input-box select {
  display: inline-block;
  width: 50%;
  padding: 12px;
  background-color: #fcfcfc;
  float: left;
  text-align: center;
  font-size: 16px;
  outline: none;
  border: 1px solid #c0bfbf;
  cursor: pointer;
  transition: all 0.2s ease;
}

.input-box select:focus {
  background-color: #7ed321;
  color: #fff;
  text-align: center;
}

button {
  width: 100%;
  background: transparent;
  border: none;
  background: #7ed321;
  color: #fff;
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.35s ease;
}

button:hover {
  cursor: pointer;
  background: #5eb105;
}

/* ************************************ Responsive Custom Styling ***************************************************/

@media (max-width: 575.98px) {
  /* Basic Styling */

  section.outer-section {
    padding-bottom: 80px;
    cursor: pointer;
    padding: 3%;
  }

  .custom-hero-text h1 {
    font-size: 40px;
  }

  .custom-hero-text p {
    font-size: 17px;
    text-align: center;
  }

  .custom-blog-hero-text h1 {
    font-size: 40px;
  }

  .custom-blog-hero-text p {
    font-size: 17px;
    text-align: center;
  }

  /* Navbar Styling */
  ul#cart-form {
    position: absolute;
    z-index: 199;
    left: 0;
    margin-left: 0%;
  }
  .custom-color:hover + .show-dropdown {
    display: block;
    position: relative;
    background-color: var(--secondary);
    color: #fff;
    list-style: none;
    padding: 2%;
  }

  .show-dropdown:hover {
    display: block;
    position: relative;
    z-index: 0;
    background-color: var(--secondary);
    color: #fff;
    list-style: none;
    padding: 2%;
    width: 25%;
  }

  /*Feature Section Styling*/
  .section-image-03 {
    width: 100%;
  }

  .section-image-01 {
    width: 100%;
  }

  .section-image-02 {
    width: 100%;
  }

  #bg-image-3 {
    width: 100%;
  }

  #bg-image-4 {
    width: 100%;
  }

  #bg-image-5 {
    width: 100%;
  }

  /*Menu Section Styling*/
  .outer-container-customizer {
    width: 100%;
  }

  .outer-container-customizer {
    width: 0%;
  }

  .content-menu {
    text-align: center;
  }

  .content-menu-para {
    text-align: center;
  }

  .no-records {
    left: -2%;
    position: relative;
  }

  /* Testimonial Section Styling */

  .card-container {
    width: 100%;
  }

  .card-container h2 {
    color: #fff;
    margin: 0 0 0.25rem;
  }

  .card-container p {
    margin: 0;
    color: #fff;
    padding: 0 0.5rem;
    font-size: 16px;
  }

  /* Reservation Table */
  .datepicker table {
    width: 100% !important;
    z-index: 99 !important;
  }

  /* Single Product Page Styling */

  .product-image {
    width: 100%;
  }

  /* Gallery */

  .gallery {
    display: block;
    padding: 2px;
    transition: 0.3s;
  }

  .gallery__column {
    width: 100%;
  }

  /* Menu View */
  .custom-flex {
    width: 100%;
    left: 0;
  }
  .menu-container {
    margin: 2% 2%;
    width: 100%;
  }

  .menu-container .menu-card {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 767.98px) {
  /* Basic Styling */

  section.outer-section {
    padding-bottom: 80px;
  }


  /* Navbar Styling */

  .custom-color:hover + .show-dropdown {
    display: block;
    position: relative;
    z-index: 0;
    width: 100%;
    background-color: var(--secondary);
    color: #fff;
    list-style: none;
    padding: 2%;
    width: 100%;
  }

  .show-dropdown:hover {
    display: block;
    position: relative;
    z-index: 0;
    width: 100%;
    background-color: var(--secondary);
    color: #fff;
    list-style: none;
    padding: 2%;
    width: 100%;
  }

 

  /*Feature Section Styling*/
  .section-image-03 {
    width: 100%;
  }

  .section-image-01 {
    width: 100%;
  }

  .section-image-02 {
    width: 100%;
  }

  #bg-image-3 {
    width: 100%;
  }

  #bg-image-4 {
    width: 100%;
  }

  #bg-image-5 {
    width: 100%;
  }

  /*Menu Section Styling*/
  .outer-container-customizer {
    width: 100%;
  }

  .content-menu {
    text-align: center;
  }

  .content-menu-para {
    text-align: center;
  }

  .no-records {
    left: -2%;
    position: relative;
  }

  /* Testimonial Section Styling */

  .card-container {
    width: 100%;
  }

  .card-container h2 {
    color: #fff;
    margin: 0 0 0.25rem;
  }

  .card-container p {
    margin: 0;
    color: #fff;
    padding: 0 0.5rem;
    font-size: 16px;
  }

  /* Single Product Page Styling */

  .product-image {
    width: 100%;
  }

  /* Gallery */

  .gallery {
    display: block;
    padding: 2px;
    transition: 0.3s;
  }

  .gallery__column {
    width: 100%;
  }

  /* Menu View */
  .custom-flex {
    width: 100%;
  }
}

@media only screen and (max-width: 1024.98px) and (min-width: 768px) {
  /* Basic Styling */
  section.outer-section {
    padding-bottom: 80px;
  }

  /* Navbar Styling */

  .nav-bar {
    position: absolute;
    width: 100%;
    z-index: 199;
  }

  div#navbarTogglerDemo01 {
    margin-left: -3%;
  }
  ul#cart-form {
    position: absolute;
    z-index: 199;
    left: 0;
    margin-left: 0%;
  }
  .show-dropdown {
    display: none;
  }

  .custom-color:hover + .show-dropdown {
    display: inline-block;
    position: fixed;
    left: 3px;
    z-index: 99;
    background-color: var(--secondary);
    color: #fff;
    list-style: none;
    padding: 2%;
    width: 100%;
    margin-top: 0.999%;
  }

  .show-dropdown:hover {
    display: inline-block;
    position: fixed;
    z-index: 99;
    background-color: var(--secondary);
    color: #fff;
    list-style: none;
    padding: 2%;
    margin-top: 0.999%;
    width: 100%;
  }

  .show-dropdown li {
    border-bottom: 1px solid;
  }
  

  /*Feature Section Styling*/
  .section-image-03 {
    width: 100%;
  }

  .section-image-01 {
    width: 100%;
  }

  .section-image-02 {
    width: 100%;
  }

  #bg-image-3 {
    width: 100%;
  }

  #bg-image-4 {
    width: 100%;
  }

  #bg-image-5 {
    width: 100%;
  }

  /*Menu Section Styling*/
  .outer-container-customizer {
    width: 100%;
  }

  .content-menu {
    text-align: center;
  }

  .content-menu-para {
    text-align: center;
  }

  .no-records {
    left: -2%;
    position: relative;
  }

  /* Testimonial Section Styling */
  .card-container {
    width: 100%;
  }

  .card-container h2 {
    color: #fff;
    margin: 0 0 0.25rem;
  }

  .card-container p {
    margin: 0;
    color: #fff;
    padding: 0 0.5rem;
    font-size: 16px;
  }

  /* Single Product Page Styling */

  .product-image {
    width: 100%;
  }

  /* Gallery */

  .gallery {
    display: block;
    padding: 2px;
    transition: 0.3s;
  }

  .gallery__column {
    width: 100%;
  }

  /* Menu View */
  .custom-flex {
    width: 100%;
  }
}
@media (max-width: 1500.98px) {
  /*Menu Section Styling*/
  .outer-container-customizer {
    width: 100%;
  }
  .custom-hero-text {
    position: absolute;
    left: 0;
  }
  
}

@media only screen and (max-width: 3000.98px) and (min-width: 1500px) {
  .custom-hero-text {
    position: absolute;
    left: 0;
  }
}
